mixin pictureJpg(path, alt='')
  picture.cover(class!=attributes.class)
    source.cover(srcset=`${path}.webp` type="image/webp" alt= alt)
    source.cover(srcset=`${path}.jpg` type="image/jpeg" alt= alt)
    img.cover(srcset=`${path}.jpg` alt= alt)

mixin picturePng(path, alt='')
  picture.cover(class!=attributes.class)
    source.cover(srcset=`${path}.webp` type="image/webp" alt= alt class!=attributes.class)
    source.cover(srcset=`${path}.png` type="image/jpeg" alt= alt class!=attributes.class)
    img.cover(srcset=`${path}.png` alt= alt class!=attributes.class)

mixin essay(essay)
  .essay
    a.essay__title(class!=attributes.class)&attributes(attributes)= essay.title
    p.essay__text= essay.text
    +essayDetails(essay.words, essay.date, essay.pages)

mixin essayDetails(words, date, pages)
  .essay__details
    .essay__detail-block.essay__words-block
      p.essay__detail-text= words
    .essay__detail-block.essay__date-block
      p.essay__detail-text.essay__detail-slash /
      p.essay__detail-text= date
    .essay__detail-block.essay__pages-block
      p.essay__detail-text.essay__detail-slash /
      p.essay__detail-text= pages


mixin topicsItem(options)
  .hot__topics-item(class!=attributes.class)
    .hot__topics-text= options.topics
